.elementBlock {
    width: 320px;
    height: 430px;
    background-color: #f2f2f2;
    border: 4px solid #1698d9;
    border-top: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}

.elementBlock:hover {
    border: 4px solid #2ea8e5;
    border-top: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.elementBlock:hover .circle {
    background-color: #2ea8e5;
}
.elementBlock:hover .corner {
    border-bottom: 45px solid #2ea8e5;
}
.elementBlock:hover .corner.active {
    border-bottom: 45px solid #e62e7a;;
}
.elementBlock.active {
    border: 4px solid #d91667;
    border-top: none;
}
.elementBlock.active:hover {
    border: 4px solid #e62e7a;
    border-top: none;
}
.elementBlock.active:hover .circle {
    background-color: #e62e7a;
}
.elementBlock.ended:hover .circle {
    background-color: grey;
}
.elementBlock.ended:hover .corner {
    border-bottom: 45px solid grey;
}
.corner {
    /* height: 0; */
    width: 320px;
    border-bottom: 45px solid #1698d9;
    border-left: 45px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: -44px;
    left: -4px;
    border-top-right-radius: 10px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.corner::after {
    content: '';
    width: 271px;
    border-bottom: 41px solid #f2f2f2;
    border-left: 41px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: 4px;
    left: -41px;
    border-top-right-radius: 8px;
}
.corner.active {
    border-bottom: 45px solid #d91667;
}
.corner.ended {
    border-bottom: 45px solid grey;
}
.cat {
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 6px;
}
.pictureCat {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25px;
    bottom: 0px;
    background-image: url(../res/cat.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.isEnded {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    border-radius: 10px;
}
.isEnded::before {
   /* height: 0; */
   content: '';
   width: 270px;
   border-bottom: 41px solid rgba(255, 255, 255, .5);
   border-left: 41px solid transparent;
   border-right: 0 solid transparent;
   position: absolute;
   top: -41px;
   left: 1px;
   border-top-right-radius: 10px;
   transition: .5s all;
   -webkit-transition: .5s all;
   -moz-transition: .5s all;
   -ms-transition: .5s all;
}
.isEnded.ended {
    display: block;
}
.elementBlock.ended {
    border-color: grey;
    cursor: auto;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 12px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.circle span {
    display: block;
    margin-top: 20px;
    color: #FFF;
    font-size: 2.7em;
    line-height: 20px;
}
.circle p {
    line-height: 5px;
    color: #FFF;
    font-size: 1.3em;
}
.circle.active {
    background-color: #d91667;
}
.circle.ended {
    background-color: grey;
}

@media screen and (max-width: 1200px) {
    .element {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px) {
    
}

