.element__item {
    width: 320px;
    height: 480px;
    background-color: #f2f2f2;
    border: 4px solid #1698d9;
    border-radius: 80px 10px 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}

.element__item:hover {
    border: 4px solid #2ea8e5;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.element__item:hover .circle {
    background-color: #2ea8e5;
}
.element__item:hover .element__corner {
    border-color: #2ea8e5;
}
.element__item:hover .element__corner::before {
    border-color: #2ea8e5;
}
.element__item:hover .element__corner::after {
    border-color: #2ea8e5;
}
.element__item:hover .element__corner.active {
    border-color: #e62e7a;
}
.element__item:hover .element__corner.active::before {
    border-color: #e62e7a;
}
.element__item:hover .element__corner.active::after {
    border-color: #e62e7a;
}
.element__item.active {
    border-color:#d91667;
}
.element__item.active:hover {
    border-color:#e62e7a;
}
.element__item.active:hover .circle {
    background-color: #e62e7a;
}
.element__item.ended .circle {
    background-color: grey;
}
.element__item.ended .element__corner {
    border-color: grey;
}
.element__item.ended .element__corner::before {
    border-color: grey;
}
.element__item.ended .element__corner::after {
    border-color: grey;
}
.element__corner {
    width: 64px;
    height: 64px;
    border-left: 3px solid #1698d9;
    position: absolute;
    background: #f2f2f2;
    left: 9px;
    top: 9.1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.element__corner::before{
    position: absolute;
    background: #f2f2f2;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 4px solid #1698d9;
    transform: rotate(-45deg) translate(50.5%,-20%);
    -webkit-transform: rotate(-45deg) translate(50.5%,-20%);
    -moz-transform: rotate(-45deg) translate(50.5%,-20%);
    -ms-transform: rotate(-45deg) translate(50.5%,-20%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.element__corner::after{
    position: absolute;
    background: #f2f2f2;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #1698d9;
    transform: rotate(45deg) translate(50.5%,20%);
    -webkit-transform: rotate(45deg) translate(50.5%,20%);
    -moz-transform: rotate(45deg) translate(50.5%,20%);
    -ms-transform: rotate(45deg) translate(50.5%,20%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.element__corner.active, .element__corner.active::after, .element__corner.active::before {
    border-color:#d91667;
}
.element__image {
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 6px;
}
.element__image-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25px;
    bottom: 0px;
    background-image: url(../res/cat.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.element__end {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    display: none;
    border-radius: 6px;
    border-top-left-radius: 70px;
    height: 100%;
    width: 100%;

}
.element__end.ended {
    display: block;
}
.element__item.ended {
    border-color: grey;
    cursor: auto;
}

@media screen and (max-width: 1200px) {
    .element {
        margin-bottom: 60px;
    }
}
