.elementItem {
    width: 320px;
    height: 480px;
    
    background-color: #f2f2f2;
    border: 4px solid #1698d9;
    border-radius: 80px 10px 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}

.elementItem:hover {
    border: 4px solid #2ea8e5;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.elementItem:hover .circle {
    background-color: #2ea8e5;
}
.elementItem:hover .elementCorner {
    border-color: #2ea8e5;
}
.elementItem:hover .elementCorner::before {
    border-color: #2ea8e5;
}
.elementItem:hover .elementCorner::after {
    border-color: #2ea8e5;
}
.elementItem:hover .elementCorner.active {
    border-color: #e62e7a;
}
.elementItem:hover .elementCorner.active::before {
    border-color: #e62e7a;
}
.elementItem:hover .elementCorner.active::after {
    border-color: #e62e7a;
}
.elementItem.active {
    border-color:#d91667;
}
.elementItem.active:hover {
    border-color:#e62e7a;
}
.elementItem.active:hover .circle {
    background-color: #e62e7a;
}
.elementItem.ended .circle {
    background-color: grey;
}
.elementItem.ended .elementCorner {
    border-color: grey;
}
.elementItem.ended .elementCorner::before {
    border-color: grey;
}
.elementItem.ended .elementCorner::after {
    border-color: grey;
}
.elementCorner {
    width: 64px;
    height: 64px;
    border-left: 3px solid #1698d9;
    position: absolute;
    background: #f2f2f2;
    left: 9px;
    top: 9.1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.elementCorner::before{
    position: absolute;
    background: #f2f2f2;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 4px solid #1698d9;
    transform: rotate(-45deg) translate(50.5%,-20%);
    -webkit-transform: rotate(-45deg) translate(50.5%,-20%);
    -moz-transform: rotate(-45deg) translate(50.5%,-20%);
    -ms-transform: rotate(-45deg) translate(50.5%,-20%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.elementCorner::after{
    position: absolute;
    background: #f2f2f2;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #1698d9;
    transform: rotate(45deg) translate(50.5%,20%);
    -webkit-transform: rotate(45deg) translate(50.5%,20%);
    -moz-transform: rotate(45deg) translate(50.5%,20%);
    -ms-transform: rotate(45deg) translate(50.5%,20%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.elementCorner.active, .elementCorner.active::after, .elementCorner.active::before {
    border-color:#d91667;
}
.elementImage {
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 6px;
}
.elementImageItem {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25px;
    bottom: 0px;
    background-image: url(../res/cat.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.isEnded {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    display: none;
    border-radius: 6px;
    border-top-left-radius: 70px;
    height: 100%;
    width: 100%;

}
.isEnded.ended {
    display: block;
}
.elementItem.ended {
    border-color: grey;
    cursor: auto;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 12px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.circle span {
    display: block;
    margin-top: 20px;
    color: #FFF;
    font-size: 42px;
    line-height: 20px;
}
.circle p {
    line-height: 5px;
    color: #FFF;
    font-size: 1.3em;
}
.circle.active {
    background-color: #d91667;
}
.circle.ended {
    background-color: grey;
}



@media screen and (max-width: 1200px) {
    .element {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px) {

}

