.elementItem {
    width: 320px;
    height: 430px;
    background-color: #f2f2f2;
    border: 4px solid #1698d9;
    border-top: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}

.elementItem:hover {
    border: 4px solid #2ea8e5;
    border-top: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.elementItem:hover .circle {
    background-color: #2ea8e5;
}
.elementItem:hover .elementCorner {
    background-color: #2ea8e5;
}
.elementItem:hover .elementCorner::before {
    background-color: #2ea8e5;
}
.elementItem:hover .elementCorner.active {
    background-color: #e62e7a;
}
.elementItem:hover .elementCorner.active::before {
    background-color: #e62e7a;
}
.elementItem.active {
    border: 4px solid #d91667;
    border-top: none;
}
.elementItem.active:hover {
    border: 4px solid #e62e7a;
    border-top: none;
}
.elementItem.active:hover .circle {
    background-color: #e62e7a;
}
.elementItem.ended .circle {
    background-color: grey;
}
.elementItem.ended .elementCorner {
     background-color: grey;
}
.elementItem.ended .elementCorner::before {
    background-color: grey;
}
.elementCorner {
    background-color: #1698d9;
    height: 40px;
    width: 280px; 
    position: absolute;
    top: -40px;
    left: 36px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    border-radius: 0 10px 0 0;
}
.elementCorner::before {
    content: '';
    width: 100px; 
    height: 40px;
    background-color: #1698d9;
    position: absolute;
    top: 0;
    transition: .5s all;
    left: -20px;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
}
.elementCornerItem {
    position: absolute;
    height: 36px;
    width: 276px;
    background-color: #f2f2f2;
    left: 0px;
    top: 4px;
    border-radius: 0 7px 0 0;
}
.elementCornerItem::before {
    content: '';
    width: 90px; 
    height: 36px;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    transition: .5s all;
    left: -18px;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
}
.elementCorner.active {
    background-color: #d91667;
}
.elementCorner.active::before {
    background-color: #d91667;
}
.elementCorner.ended {
    background-color: grey;
}
.elementImage {
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 6px;
}
.elementImageItem {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25px;
    bottom: 0px;
    background-image: url(../res/cat.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.isEnded {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    border-radius: 7px;
    height: 100%;
    width: 100%;

}
.isEnded::before {
   content: '';
   width: 38px; 
   height: 36px;  
   background: rgba(255, 255, 255, 0.5);
   position: absolute;
   top: -36px;
   right: 0;
   transition: .5s all;
   -webkit-transition: .5s all;
   -moz-transition: .5s all;
   -ms-transition: .5s all;
   border-radius: 0 7px 0 0;
}
.isEnded::after {
    content: '';
    width: 273px; 
    position: absolute;
    height: 36px;  
    background: rgba(255, 255, 255, 0.5);
    top: -36px;
    left: 18px;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
}
.isEnded.ended {
    display: block;
}
.elementItem.ended {
    border-color: grey;
    cursor: auto;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 12px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.circle span {
    display: block;
    margin-top: 20px;
    color: #FFF;
    font-size: 2.7em;
    line-height: 20px;
}
.circle p {
    line-height: 5px;
    color: #FFF;
    font-size: 1.3em;
}
.circle.active {
    background-color: #d91667;
}
.circle.ended {
    background-color: grey;
}

@media screen and (max-width: 1200px) {
    .element {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px) {

}

