.elementSignText {
    color: #FFF;
    text-align: center;
    font-size: .8em;
    margin-top: 10px;
    list-style-type: none;
}
.elementSignText span {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #1698d9;
    cursor: pointer;
}
.elementSignText span:hover {
    text-decoration: none;
}