@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App {
    position: relative;
    width:100%;
    min-height: 100vh;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    left: 0px;
    top: 0px;
    background: url(res/background.png);
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}
.App-body {
    position: relative;
    max-width: 1120px;
}
.App-body__text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #000000;
    margin-bottom: 25px;
}
.elements {
    display: flex;
    flex-wrap: wrap;
}
.elements__item {
    width: 320px;
    height: 480px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 80px;
}
.elements__item:last-child{
    margin-right: 0px;
}
.card {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F2F2F2;
    border: 4px solid #1698D9;
    box-sizing: border-box;
    border-radius: 12px
}



@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .icon {
    background-image: url(res/background.png);
  }
}